{% extends 'base.html' %}
{% load static %}

{% block metadiscription %}

    {{product.description|truncatewords:155}}
{% endblock %}
{% block title %}
{% if category %}
    {{product.name}}
{% endif %}
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p><a href="{% url 'allProdCat' %}">Home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>|{{product.name}}</p>
    </div>
</div>
<div class="container">
    <div class="row">
     <div class="col-12 col-sm-12 col-md-6 col-lg-6 text_center" >
        <div style="min_width:10rem">
            <img style="width:280px;height:310px" src="{{product.image.url}}" alt="{{product.name}}">
        </div>
     </div>

     <div class="col-12 col-sm-12 col-md-6 col-lg-6">
         <div>
             <h1 class="my_product_title">{{product.name}}</h1>
             <p>${{ product.price}}</p>
             <h2 class="my_title">Product Description</h2>
             <p class="text-justify my_prot_text">{{product.discription}}</p>
             {% if product.stock <= 0 %}
             <h3 class="text-justify my_prot_text" ><b>Out of Stock</b></h3>
             {% else %}
             <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add-to-Cart</a>
             {% endif %}
         </div>
     </div>

</div>
</div>
{% endblock %}